.register__container {
    background-color: #eef2ff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
  }

.register__container h1 {
    margin-bottom: 10px;
}